<b>CALCULADORA</b>
<h1 style="font-size:x-large"> Primeiro valor: </h1>
<input type="number" id="valor1" />
<h2 style="font-size:x-large"> Segundo Valor: </h2>
<input type="number" id="valor2"/>
<h3 style="font-size:x-large"> Operação </h3>
<button onclick="soma()">+</button>
<button onclick="Subtracao()">-</button>
<button onclick="Divisao()">/</button>
<button onclick="Multiplicacao()">*</button>
<h4>Resultado: </h4>
<input type="number" id="total" />